.widget {
    grid-area: n;
    padding: 5px;
    /*border: 5px solid #f1f1f1;*/
    background: #fff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.widget h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: black;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
}

.widget li {
    /*border-bottom: 1px solid #eaeaea;*/
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.widget li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.active :active{
    color: gold ;
}
.widget a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.widget a:active {
    text-decoration: none;
    color: gold;
    display: inline-block;
}

.widget a:hover {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.widget li:before {
    font-family: FontAwesome, serif;
    font-size: 20px;
    vertical-align: bottom;
    color: black;
    margin-right: 14px;
}

.widget li:active {
    background-color: black;
    margin-right: 14px;
}

.widget li:hover {
    background-color: black;
    margin-right: 14px;
}

.widget li:nth-child(1):before {
    content: "\f1fc";
}

.widget li:nth-child(2):before {
    content: "\f0d0";
}

.widget li:nth-child(3):before {
    content: "\f0cd";
}

.widget li:nth-child(4):before {
    content: "\f028";
}

.widget li:nth-child(5):before {
    content: "\f03d";
}