.app-wrapper {
    display: grid;
    grid-template-areas:
"s h h h x"
"s n c c x"
"s f f f x";
    grid-template-rows: 80px 8fr 1fr;
    grid-template-columns:1fr 2fr 10fr 1fr;
    /*grid-gap: 10px;*/

}

.s {
    grid-area: s;
}

.x {
    grid-area: x;
}

.header {
    grid-area: h;
    border-bottom: ridge black;
}

.header a {
    display: block;
}

.nav {
    grid-area: n;
}

.nav > ul {
    display: grid;
}
